*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
}
body >div{
    font-family: Helvetica ;
color: white;
    background-color: black;
}
.launches{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}
.container-card{
    /* padding: 20px; */
    background-color: rgb(4, 146, 240);
    color: rgb(234, 229, 245);
    width: 25%;
    height: 220px;
    margin: 25px 15px;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: Helvetica ;
    overflow: hidden;
    /* border-radius: 0px 1990px 0px 0px; */
    font-size: 20px;
}
.container-card:hover{
    background-color: rgb(0, 3, 12);
    color: rgb(249, 251, 252);
    /* padding: 50px; */
}
.name{
   margin: 10px; 
   font-size: 100%;
}

.year{
    margin: 10px;
    display: inline;
    font-size: 100%;
}
.btn{
    background-color: rgb(245, 245, 250);
}
.btn button{
    display: block !important;
    margin: 15px;
    font-family: Helvetica ;
    background-color: white;
    border: rgb(3, 172, 234) 0px solid;
    height: 30px;
    width: 70%;
    text-align: center;
    color: rgb(3, 90, 119);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}
.btn:hover{
    text-decoration: none;
    color: rgb(234, 235, 235);
    background-color: rgb(1, 145, 228);
}

a{
    text-decoration: none;
}
h1{
    padding-top: 5%;
    color: rgb(243, 249, 250);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
@media only screen and (max-width:700px) {
    .launch-card{
        width: 45%;
        height: 190px;
        text-align: center;
        justify-content: center;
    }
    .launch-success{
        display: block;
    }
    .btn{
        /* height: 50%; */
        margin: auto;
    }
}

@media only screen and (max-width: 350px){
    .launch-card{
        width: 100%
    }
    .launch-success{
        display: block;
    }
}