.Navbar{
    font-size: 22px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer{
    height: 10px;
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
    background-color: rgb(14, 13, 13);
    color: rgb(247, 247, 247);
}